.subscribe-container {
    text-align: center;
    padding-top: 3rem;

    .subscribe-form {
        width: 70%;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        position: relative;
        margin-bottom: -12rem;
        padding: 2rem;

        @media screen and (max-width: 960px) {
            padding: 2rem 1rem;
            width: 80%;
        }

        @media screen and (max-width: 800px) {
            width: 100%;
        }

        h4 {
            margin: 0;
            position: absolute;
            top: 10rem;
            left: 0;
            right: 0;
            font-weight: normal;

            @media screen and (max-width: 800px) {
                top: 12.5rem;
                font-size: .9em;
            }
        }

        h3 {
            margin: 0 0 3px;
            padding: 0;
            color: #15171a;
            font-size: 1.5em;
            line-height: 1;
            font-weight: 700;

            @media screen and (max-width: 800px) {
                font-size: 1em;
            }
        }

        p {
            margin-bottom: 1em;
            color: #738a94;
            font-size: 1.2em;
            line-height: 1.55em;
            letter-spacing: .2px;

            @media screen and (max-width: 800px) {
                font-size: .8em;
            }
        }

        .form-fields {
            display: flex;
            align-items: center;
            padding: 0rem 4rem;

            @media screen and (max-width: 960px) {
                padding: 0rem 2rem;
            }

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }

            input {
                padding: .5rem;
                border: 2px solid #00b6ff;
                border-radius: 7px;
                flex: 2;

                @media screen and (max-width: 800px) {
                    flex: unset;
                    width: 100%;
                    margin-bottom: 1rem;
                }
            }

            button {
                flex: 1;
                border-radius: 6px;
                margin-left: 1rem;
                height: 48px;

                @media screen and (max-width: 800px) {
                    flex: unset;
                    margin: 0 auto;
                }
            }
        }
    }
}