.article {
    a {
        text-decoration: none;
        color: rgb(0, 119, 255);
    }

    .article-date {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .article-card {
        padding: 2rem 1rem;

        i {
            color: #a7a7a7;
        }

        .back {
            margin-top: 2rem;
        }

        .post-content {
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }
}