.article {
    a {
        text-decoration: none;
        color: rgb(0, 119, 255);
    }

    .article-card {
        padding: 2rem 1rem;

        i {
            color: #212121;
        }

        .back {
            margin-top: 2rem;
        }
    }
}