.header {
    background: #fff;
    width: 100%;
    z-index: 1;
    border-bottom: .01em solid rgb(204, 204, 204);
}

.fixed-header {
    position: fixed;
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: none;
    transition: .4s;
}

.overlay.active {
    display: block;
    z-index: 4;
}