.social-creative {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 4fr);
    grid-gap: 1.2rem;
    align-items: center;
    @media screen and (max-width: 960px) {
        grid-template-columns: repeat(4, 1fr);
    }
    margin-bottom: 1rem;
}

.card-social {
    img {
        height: 2rem;
        @media screen and (max-width: 680px) {
            height: 1rem;
        }
    }
}