.more {
    color: #fff;
    text-decoration: none;
    border-radius: .2rem;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;

    @media screen and (max-width: 1100px) {
        padding: .6rem 1rem;
    }

    @media screen and (max-width: 680px) {
        grid-row: 4;
        padding: .6rem 1.4rem;
    }

    img {
        margin: 0 1rem 0 0;
    }
}