.intro {
    background: #fff;
    margin: 0 auto;
    max-width: 960px;

    .intro-content {
        padding: 3rem 1rem;

        p {
            color: gray;
            margin-bottom: 2rem;
        }
    }
}

.magical-btn {

    color: #fff;
    text-decoration: none;
    padding: .9rem 1.4rem;
    background: #00c3ff;
    border-radius: .3rem;
    box-shadow: rgba(0, 196, 255, 0.9) 0px 13px 19px -6px;
    transition: .5s;
    &:hover  {

        box-shadow: 0px 0px 17px 0px rgba(0, 196, 255, 0.36);
        transition: .5s;
    }
}