.services {
    margin-bottom: 1.45rem;
    color: white;
    padding: 8rem 1rem 4rem 1rem;

    .skill-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        max-width: 960px;
        margin: 0 auto;
    
        @media screen and (max-width: 680px) {
            flex-direction: column;
        }
    }
}