.overlay {
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: none;
}

.overlay.active {
    display: block;
    z-index: 4;
}

.hamb {

    position: fixed;
    z-index: 5;
    top: 2.5rem;
    right: 1.8rem;
    display: none;
    cursor: pointer;
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    @media screen and (max-width: 960px){
        display: block;
    }
    div {
        width: 1.6rem;
        height: .15rem;
        margin-bottom: .3rem;
        background-color: #fff;
        transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
        @media screen and (max-width: 600px){
            width: 1.6rem;
        }
    }
}

.hamb.active .top {
    transform: translateY(8px) rotate(-135deg);
}

.hamb.active .mid {
    transform: scale(0);
}

.hamb.active .bottom {
    transform: translateY(-8px) rotate(-45deg);
}

.hamb.active {

    right: 18%;
    top: 1.4rem;
    @media screen and (max-width: 960px) {
        right: 35%;
    }
    @media screen and (max-width: 600px) {
        right: 66%;
    }
}

.sidebar {
    
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    right: -275px;
    width: 0;
    opacity: 0;
    height: 100%;
    background-color: rgb(0, 195, 255);
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    .items {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        a {
            color: #fff;
            text-decoration: none;
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: unset;
            }
        }
        .current {
            color: #212121;
        }
    }
}

.sidebar.active {

    width: 20%;
    right: 0px;
    opacity: 1;
    @media screen and (max-width: 960px) {
        width: 40%;
    }
    @media screen and (max-width: 600px) {
        width: 75%;
    }
}