.hamb {
    z-index: 5;
    top: 1.6rem;
    right: 1.8rem;
    display: none;
    cursor: pointer;
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);

    @media screen and (max-width: 960px){
        display: block;
    }

    div {
        width: 1.6rem;
        height: .15rem;
        margin-bottom: .3rem;
        background-color: #212121;
        transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
        @media screen and (max-width: 600px){
            width: 1.6rem;
        }
    }
}

.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}

.hamb.active {
    .top {
        transform: translateY(8px) rotate(-135deg);
    }

    .bottom {
        transform: translateY(-6px) rotate(-45deg);
    }

    .mid {
        transform: scale(0);
    }

    right: 18%;
    top: 1.4rem;
    @media screen and (max-width: 960px) {
        right: 35%;
    }
    @media screen and (max-width: 600px) {
        right: 66%;
    }
}