.footer {
    
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 680px) {
        flex-direction: column;
        text-align: center;
    }
}