.contact-card {
    padding: 2rem 0;
    form  {
        width: 100%;
    }
        
    input,
    textarea  {

        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        transition: all .2s ease;
        text-align: left;
        border-width: 1px;
        border-color: #212121;
        border-style: solid;
        border-radius: 2px;
        padding: .6rem 1rem;
        -webkit-appearance:none;
        &:focus  {
            border-color: #212121;
            transition: all .2s ease;
        }
    }
        
    textarea  {
        resize: vertical;
        min-height: 8rem;
        margin: 0;
    }
}

button, input, select, textarea:focus  {
    outline: none;
}