footer {
    margin-top: 6rem;

    .footer-full {
        width: 100%;
        padding: 2rem 0;
        color: #fff;
    
        .footer {
            padding: 2rem 0;
            display: flex;
            justify-content: space-between;
    
            @media screen and (max-width: 680px) {
                flex-direction: column;
                text-align: center;
            }
        }
    }
}