.card {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 
                0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
                0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    transition: .5s;

    &:hover {
        box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.09);
        transition: .5s;
    }

    .card-header {
        padding: 1rem;

        h3 {
            color: #212121;
            font-size: .9em;
            margin: 0;
            font-weight: normal;
            @media screen and (max-width: 680px) {
                font-size: 1.2em;
            }
        }
    }

    .card-image {
        overflow: hidden;

        img  {
          position: relative;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          display: block;
        }
    }

    .card-image-code {
        padding: 1rem 4rem;
    }

    .card-footer {
        padding: 16px 24px;

        a {
            color: rgb(0, 119, 255);
            font-weight: normal;
            font-size: 0.8125rem;
            text-transform: uppercase;
        }

        p {
            color: #212121;
            font-size: 0.875rem;
            line-height: 1.46429em;
            margin-bottom: 1rem;
        }
    }
}

.card-0 {
    @media screen and (max-width: 680px) {
        grid-row: 3;
    }
}

.card-1 {
    @media screen and (max-width: 680px) {
        grid-row: 2;
    }
}

.card-2 {
    @media screen and (max-width: 680px) {
        grid-row: 1;
    }
}