.clip {
    clip-path: polygon(0% 14%, 100% 0, 100% 84%, 0 100%);
}

.half-clip {
    clip-path: polygon(0% 25%, 100% 0, 100% 100%, 0 100%);
}

.gradient-blue {
    background-image: linear-gradient(10deg, #0072ff 0%, #00c6ff 100%);
}

.grow {
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover  {

      transform: scale(1.1);
      transition: all .2s ease-in-out;
    }
}

.post {

    border-radius: .1rem;
    transition: .5s;
    box-shadow: 0 0 10px 0 rgba(33, 33, 33, 0.14);
    background: #fff;
    h3, i    {
        transition: .5s;
        color: #212121;
    }

    p   {
        transition: .5s;
        color: #616161;
    }

    &:hover, &:focus    {

        box-shadow: 0 3px 20px 0 rgba(0, 195, 255, .7);
        background: rgb(0, 195, 255);
        h3, p, i {
            color: #fff;
        }
    }
}

.article {
    a {
        text-decoration: none;
        color: rgb(0, 119, 255);
    }
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 960px) {
        flex-direction: column;
    }
    .details {
        padding-left: 1.5rem;
        p {
            display: flex;
            align-items: center;
        }
    }
}

.me {
    position: relative;
    flex: 1;
    width: 100%;
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}
  
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}