.clip {
    clip-path: polygon(0% 14%, 100% 0, 100% 84%, 0 100%);
}

.half-clip {
    clip-path: polygon(0% 25%, 100% 0, 100% 100%, 0 100%);
}

.gradient-blue {
    background-image: linear-gradient(10deg, #0072ff 0%, #00c6ff 100%);
}

.grow {
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover  {

      transform: scale(1.1);
      transition: all .2s ease-in-out;
    }
}

.post {

    border-radius: .1rem;
    transition: .5s;
    box-shadow: 0 0 10px 0 rgba(33, 33, 33, 0.14);
    background: #fff;
    h3, i    {
        transition: .5s;
        color: #212121;
    }

    p   {
        transition: .5s;
        color: #616161;
    }

    &:hover, &:focus    {

        box-shadow: 0 3px 20px 0 rgba(0, 195, 255, .7);
        background: rgb(0, 195, 255);
        h3, p, i {
            color: #fff;
        }
    }
}

.article {
    a {
        text-decoration: none;
        color: rgb(0, 119, 255);
    }
}

.work {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 4fr);
    grid-gap: 1.2rem;
    align-items: center;
    @media screen and (max-width: 960px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 680px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .more {
        @media screen and (max-width: 680px) {
            grid-row: 4;
        }
    }
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 960px) {
        flex-direction: column;
    }
    .details {
        padding-left: 1.5rem;
        p {
            display: flex;
            align-items: center;
        }
    }
}

.me {
    position: relative;
    img {
        cursor: pointer;
        display: block;
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}