.work {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 4fr);
    grid-gap: 1.2rem;
    align-items: center;
    @media screen and (max-width: 960px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 680px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .more {
        color: #fff;
        text-decoration: none;
        padding: .6rem 1.4rem;
        border-radius: .2rem;
        font-size: 1.2em;
        text-align: center;
        width: 70%;
        @media screen and (max-width: 680px) {
            grid-row: 4;
        }
    }
}